<!DOCTYPE html>

<html>
    <head>
        <title>A completely normal website</title>
        <link rel="stylesheet" href="/styles/styles.css"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    </head>

    <body>
        {{{body}}}
    </body>
</html>